*{
    margin: 0px;
    padding: 0px;
}

:root{
    --color-principal: linear-gradient( #4483b6,#295c85, #143a59);
    --color-secundario:#A1BCD7;
    --color-boton: linear-gradient(#6294c5, #b1d6fb, #c5eafd);
    --color-menu:#FFFFFF;
}

.primero {
    background-color: #A1BCD7;
    margin: 4px;
    border:1px solid #A1BCD7;
}
#encabezado1{
    background-color: transparent;
    border: none;
    
}
#encabezado2{
    background-color: transparent;
    border: none;
    float: right;
    
}
#ayudaa{
    margin: 3px;
    background-color:transparent;
    border:3px solid #dbe9f6
}
#ayuda1{
    background-color: transparent;
    font-size: 12px;
    border: none;
}
#ayuda2{
    background-color: transparent;
    font-size: 12px;
    border: none;
}
.padreee{
    margin: 5px;
    background-color: var(--color-secundario);
    padding-top: 4px;
    padding-left: 5px;
    border-radius: 5px;
    font-family:tahoma ;
    font-size: 13px;
    border: 1.3px outset black;

 }
 #imagen1{
    width: 110px;
    height: 60px;
    float: left ;
 }
 .vsiaf1{
    background-image:var(--color-principal);
    color:white;
    border: #3372A6;
    padding: 13px;


}
#titulo1{
    font-family: 'Snap ITC';
    margin-left: 5rem;
    letter-spacing: 0.4rem;

}
#subtitulo1{
    font-family: 'Bradley Hand ITC';
    margin-left: 8rem;
}
#subtitulo2{
    float: right;
    font-family: 'bradley hand ';
    font-size: 12px;
    margin-right: 10rem;

}
.pantalla1{
    display: grid;
    grid-template-columns:20% 93% ;
    width: black;
}
#columna1{
    border: 2px outset rgb(204, 191, 221);
    background-color:var(--color-menu);
}
a:link, a:visited{
    color: #090818;
    background-image:var(--color-boton);
    padding: 1px;
    text-align: center;
    text-decoration: #3372A6;
    display: inline-block;
    border:2px groove rgb(250, 249, 249);
    width: 10.5rem;
    border-radius: 3px;
}
a:hover, a:active{
    background-image: var(--color-boton);
    color: rgb(1, 4, 20);
    outline: 2px solid #224cae;
    outline-offset: 2px;
    border:1.9px dotted #030001;
}
#boton1{
    background-color: #E0E0E0;
    border: 2px solid #033363;
    font-size: 12px;
    margin: 5px;
    padding: 10px;
    width: 12.2rem;
    border-radius: 4px;
    
}

#menu1{
    background-color: transparent;
    border: none;
    font-size: 17px;
    margin-top: 9px;
    padding: 8px;
    color:rgb(4, 61, 130);
    font-family: 'tahoma';
}
#columna2{
    padding: 3px;
    padding-top: 14px;
    color:#234e72;
    background-color:var(--color-menu);
    font-family: 'The Hand';
}
